.App-ui {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: flex;
  width: 100%;
  position: relative;
}
.Sidebar {
  background-color: #388d70;
  width: 15%;
  justify-content: center;
  padding: 12px;
  position: sticky;
  top: 0;
}
.Side i {
  background-color: #fff;
  color: #737271;
}

.windows {
  color: #edeff2;
}
.sideContent {
  border-radius: 6px;
  display: flex;
  color: #eafaf8;
  justify-content: flex-start;
  gap: 8px;
  padding: 0px 12px;
  align-items: baseline;
  margin-bottom: 12px;
}
.sideContent p {
  margin: 0px;
  margin: 8px 4px;
  font-weight: 600;
}

#dashtext {
  background-color: #f4f5f9;
  color: #676563;
}
#dashtext i {
  color: #5c5e61;
}

#onlyicon {
  display: flex;
  justify-content: center;
}

#onlyicon i {
  color: #5c5e61;
  background-color: #f4f5f9;
  border-radius: 27px;
  padding: 7px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-content {
  background-color: #f3f4f6;
  width: 85%;
}

.Navbar {
  padding: 4px 32px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: baseline;
  background-color: #ffffff;
}

.Navbar > div {
  flex-grow: 1;
}
.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.welcome p {
  margin: 0px;
}
.User {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.User i {
  color: #faac05;
}
.compliment {
  color: #5c5e61;
  margin-top: 0px;
  padding: 0px;
}
#searchIcon {
  padding: 12px;
  color: #bdbaa8;
  background-color: #f5f5f7;
  border-radius: 12px;
}

#searchbar {
  flex-grow: 1;
  display: flex;
  background-color: #f5f5f7;
  border-radius: 12px;
  align-items: center;
}

#searchbar input {
  flex-grow: 1;
  padding: 4px 4px;
  border: 0px;
  outline: none;
  background-color: #f5f5f7;
}
.top-searchbar {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  align-items: center;
  height: 100%;
  padding: 26px 0px;
}
.nav-end {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}
#bellicon {
  background-color: #f5f5f7;
  color: #202124;
  border-radius: 15px;
  padding: 10px;
}

.usericon {
  border-radius: 15px;
  width: 35px;
  height: 35px;
}

.Dashboard {
  gap: 20px;
  display: flex;
  margin: 4px 8px;
  align-items: baseline;
}
.dash-heading {
  color: #353733;
  font-weight: 600;
  font-size: 1.5em;
}

.orders {
  display: flex;
  background-color: #388d70;
  width: 18%;
  height: 25%;
  padding: 40px;
  justify-content: space-between;
  border-radius: 12px;
}
.orders p {
  color: #fff;
  font-weight: 700;
}
.orders i {
  color: #dcdfe5;
}

.pending {
  background-color: #ffffff;
  display: flex;
  width: 18%;
  height: 25%;
  padding: 40px;
  justify-content: space-between;
  border-radius: 12px;
}
.pending p {
  color: #5e5672;
  font-weight: 700;
}
.pending i {
  padding: 10px;
  border-radius: 45px;
  color: #d4d9e3;
  background-color: #2e7e2e;
}

.delivered {
  background-color: #ffffff;
  display: flex;
  width: 18%;
  height: 25%;
  padding: 40px;
  justify-content: space-between;
  border-radius: 12px;
}

.delivered p {
  color: #5e5672;
  font-weight: 700;
}

.delivered i {
  padding: 10px;
  border-radius: 30px;
  color: #d4d9e3;
  background-color: #fa6a00;
}

.shipped {
  background-color: #ffffff;
  display: flex;
  width: 18%;
  height: 25%;
  padding: 40px;
  justify-content: space-between;
  border-radius: 12px;
}

.shipped p {
  color: #5e5672;
  font-weight: 700;
}

.shipped i {
  padding: 8px;
  border-radius: 30px;
  color: #d4d9e3;
  background-color: #0588ce;
}

.Overview {
  align-items: baseline;
  padding: 18px;
  display: flex;
  gap: 20px;
}
.all-overview {
  flex-grow: 2;
  background-color: #ffffff;
  padding: 12px;
  width: 50%;
  border-radius: 12px;
}

.monthly-overview {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  align-items: baseline;
  padding: 0px 12px;
}
.monthly-overview i {
  top: 0px;
  right: 0px;
  color: #353733;
}
.monthly-overview p {
  top: 0px;
  left: 0px;
  color: #353733;
  font-weight: 600;
}
.total-cost {
  background-color: #ffffff;
  border-radius: 12px;
  flex-grow: 1;
  width: 25%;
  padding: 12px;
  height: 50%;
}

.top-cost {
  display: flex;
  align-items: baseline;
  gap: 90px;
}
.top-cost i {
  color: #5c5e61;
}
.top-cost p {
  flex-grow: 1;
  color: #5c5e61;
  font-weight: 600;
}
.plain-texts {
  line-height: 1rem;
}
.incre-text {
  color: #5c5e61;
  font-weight: 600;
}
.italics-text {
  color: #9f9e9e;
  font-style: italic;
}
.delivery-text {
  font-weight: 600;
  color: #333537;
}

.low-deliverytext {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.low-deliverytext i {
  display: flex;
  color: #001a10;
  background-color: #408e74;
  border-radius: 12px;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 16px;
}
.delivery-minitext {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery-minitext p {
  margin: 0px;
  padding-left: 10px;
}
.handling {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 10px;
}
.handling i {
  display: flex;
  background-color: #d29f6d;
  color: #d4d9e3;
  border-radius: 12px;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 16px;
}
.handlinglower-text {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.handlinglower-text p {
  margin: 0px;
  padding-left: 10px;
}
.handling-text {
  font-weight: 600;
  color: #333537;
}

.allhandle-txt {
  padding: 12px;
}

.mdn-text {
  color: #9f9e9e;
}
.rates {
  flex-grow: 1;
  width: 25%;
  height: 50%;
}
.allratestext1 {
  padding: 24px 0px;
}
.allratestext1 p {
  margin: 0px;
}

.allratestext2 p {
  margin: 0px;
}
.rates-1 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 50%;
  margin: 24px 0px;
  padding: 6px 0px;
}
.rates-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 50%;
  margin: 20px 0px;
  padding: 20px 0px;
}
#icon1 {
  background-color: #388d70;
  padding: 10px;
  color: #ffffff;
  border-radius: 18px;
}
.rates1-icon {
  display: flex;
  gap: 90%;
  padding: 16px 25px;
  align-items: baseline;
}
#icon3 {
  background-color: #a127bb;
  padding: 10px;
  color: #ffffff;
  border-radius: 22px;
}
.rates2-icon {
  display: flex;
  gap: 90%;
  padding: 16px 25px;
  align-items: baseline;
}
#icon2 {
  color: #070707;
}

.ratestext1 {
  color: #474c5c;
}
.ratestext2 {
  color: #353733;
  font-weight: 600;
}
.ratestext3 {
  color: #5e5e5e;
}
.customers {
  width: 100%;
  display: flex;
  gap: 15px;
}
.top-customers {
  margin: 0px 16px;
  border-radius: 12px;
  background-color: #ffffff;
  line-height: 2rem;
  flex-grow: 2;
}
.top-customersheading {
  display: flex;
  gap: 28%;
  align-items: baseline;
  font-weight: 600;
  padding: 10px;
}
.top-customersheading p {
  flex-grow: 1;
}

.orders-list {
  flex-grow: 3;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  line-height: 2rem;
}
.orders-list th {
  color: #838384;
  font-size: 0.8em;
  padding-left: 8px;
  font-weight: bold;
}
.orders-list td {
  color: gray;
  font-size: 0.8em;
  padding-left: 8px;
  font-weight: bold;
}
.top-customers th {
  color: #838384;
  font-size: 0.8em;
  padding-left: 8px;
  font-weight: bold;
}
.top-customers td {
  color: gray;
  font-size: 0.8em;
  padding-left: 8px;
  font-weight: bold;
}
table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid lightgray;
}

td {
  padding: 8px 8px;
}
.home-img {
  position: relative;
  width: 100%;
}
.graph-img {
  display: block;
  max-width: 100%;
}

.allratestext1 {
  padding: 0px 12px;
}
.allratestext2 {
  padding: 0px 12px;
}
