.App {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.App-ui {
    display: flex;
}
.Sidebar {
    background-color: #388D70;
    width: 10%;
    height: 100vh;
    justify-content: center;
    padding: 20px;
}
.Side i {
    background-color: #fff;
    color: #737271;
}

.windows {
    color: #edeff2;
}
.sideContent {
    display: flex;
    color: #EAFAF8;
    justify-content: center;
    gap: 20px;
    align-items: baseline;   
    
}

#dashtext {
    background-color:#F4F5F9;
    color: #676563;

}
#dashtext i {
    color: #5C5E61;
}
#onlyicon {
    justify-content: center;
    align-items: center;
    color: #5C5E61;
    background-color:#F4F5F9;
    border-radius: 27px;
    padding: 7px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.Navbar {
    display: flex;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;

}
.User i {
    color:#faac05;
}
.compliment {
    color: #5C5E61;
}
#searchIcon {
    color: #bdbaa8;
}

.searchbar {
    display: flex;
}